﻿@{
    ViewBag.Title = "Книжный магазин";
}

<div>
    <h3>Распродажа книг</h3>
    <table>
        <tr>
            <td><p>Название книги</p></td>
            <td><p>Автор</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Books)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>
                <td><p><a href="/Home/Buy/@b.id">Купить</a></p></td>
            </tr>
        }
    </table>
</div>